My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"Alerta: Uma nova tarefa foi criada com o título {{$json[\\\"title\\\"]}}.\"\n}\n",
        "options": {}
      },
      "id": "e9eb2a56-d1dc-48ae-93d2-e9505fb62eb8",
      "name": "HTTP Request Alerta Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tarefas (title, description)\nVALUES ('{{$json[\"title\"]}}', '{{$json[\"description\"]}}');\n",
        "options": {}
      },
      "id": "b7cb67cd-f1e6-4670-b2bf-22ef73058e75",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "hczP0tWo4Hu2ueFG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/task-alert",
        "options": {}
      },
      "id": "f8a89830-02af-4515-8e26-dd6e01338ba6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        140
      ],
      "webhookId": "e6b0b7e2-c5e6-43a1-b274-66437fb779a0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/api/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"title\": \"={{$json[\\\"title\\\"]}}\",\n  \"description\": \"={{$json[\\\"description\\\"]}}\"\n}\n",
        "options": {}
      },
      "id": "6dcad9d6-faff-48c3-bfe3-a319879f3043",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        520
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"title\": \"={{$json[\\\"title\\\"]}}\",\n  \"description\": \"={{$json[\\\"description\\\"]}}\"\n}\n",
        "options": {}
      },
      "id": "f47b34aa-4a7f-495f-97eb-a10073b67d6a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        500
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request Alerta Slack": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request Alerta Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "313eef21-a744-4c46-abd2-9a68bc23f7eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "259941609b07a81f47ef3bb06f8c408a1e876cd87c2315324bb26efe7afa21fd"
  },
  "id": "0wYClq76QiFsGoUN",
  "tags": []
}